# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Build output
dist/
build/
.next/
out/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage
coverage/
